main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div{
    max-width: 27rem;
    height: 37rem;
    text-align: center;
    margin: .5rem;
    border: 1px solid gray;
    margin-top: 5rem;
    border-radius: 10px;
    border-radius: 50px;
}

img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
a{
    text-decoration: none;
    background-color: rgb(80, 76, 76);
    color: white;
    padding: .75rem;
}

form{
    text-align: center;
}