@font-face {
    font-family:"openSans" ;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: whitesmoke;
    font-size: 3rem;
    font-family: "openSans";
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #eeecec;
    padding: 2rem;
    font-family: "openSans";
}

div{
    max-width: 27rem;
    height: 40rem;
    text-align: center;
    margin: .5rem;
    padding-bottom: 1.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
h3{
    padding: .5rem;
}
#description{
    padding: .5rem;
    max-width: 100%;
}
#date{
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    background-color: rgb(80, 76, 76);
    color: white;
    padding: .75rem;
    margin: .5rem;
}
a:hover{
    background-color: #003a5a;
}
header{
    background-color: #003a5a;
    padding: .75rem;
    padding-bottom: 1rem;
}

form{
    text-align: center;
    margin-bottom: 1rem;
    font-family: "openSans"
}
.categoriesContainer{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7,1fr);
    
}
.categorieButton{
    background-color: whitesmoke;
    border: none;
    margin: .1rem;
    padding: .2rem;
    font-family: "openSans"
}
#searchButton{
    border-radius: 5px;
    padding: .2rem;
    border: none;
}
#searchButton:hover{
    background-color: #cececf;
    color: white;
}
#topicInput{
    border-radius: 5px;
    padding: .2rem;
}